body > div > p{
    background-color: green;
}
body div h4{
    background-color: blue;
}
body > div + p {
    color: blue;
}
.block {
    width: 100px;
    height: 100px;
    background-color: green;
    display: inline-block;
    margin-left:15px;
}
.block:hover{
    background-color:red;
}
.block:active{
    background-color: black;
}
.block::before{
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: sienna;
    margin-left:-12px;
    border-radius: 50%;
}
.rectangle{
    width: 700px;
    height: 250px;
    background-color: sienna;
    margin-bottom: 10px;
}
.square{
    width: 360px;
    height: 360px;
    background-color: aqua;

}
.myPre{
    min-width: 500px;
    max-width: 800px;
    height: 400px;
    font-family: "Arial";
}